<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button [routerLink]="['/clientes/form']" class="btn btn-rounded btn-primary" type="button">Crear CLiente</button>
    </div>

    <div *ngIf="clientes?.length == 0 " class="alert alert-info">
      No hay registro en la base de datos
    </div>

    <table class="table table-bordered table-striped" *ngIf="clientes?.length">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>correo electronico</th>
          <th>fecha</th>
          <th>editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>

      <tbody>
          <tr *ngFor="let cliente of clientes">
             <td><button type="button" name="editar" [routerLink]="['/clientes/ver', cliente.id]" class="btn btn-success btn-sm">{{cliente.id}}</button></td>
              <td>{{cliente.id}}</td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellido}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.createAt}}</td>
              <td>
                <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>

              </td>
              <td>
                <button type="button" name="eliminar" (click)="delete(cliente)" class="btn btn-danger">Eliminar</button>

              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
